@use './globals' as *;


.select {
	cursor: pointer;
	padding: 0.5rem;
	margin: 1.2rem auto 3rem auto;
	width: fit-content;
	border: 1px solid $fg-s;
	user-select: none;
	transition: 0.25s ease;

	&:hover {
		color: $bg-s;
		border-color: $bg-s;
	}
}

.input-fields {
	margin-top: 1.2rem;

	textarea {
		color: $fg;
		border: 1px solid $fg-s;
		padding: 0.5rem;
		outline: none;
		background-color: transparent;
		resize: vertical;
		display: block;
		width: calc(98% - 1px);	// Hack for weird difference ( < 1) between table width and textarea width
		margin-bottom: 1rem;
	}
}

.btn {
	display: block;
	margin: 3rem calc(2% + 1px) 3rem auto;
}
