$bg: var(--bg);
$bg-s: var(--bg-s);
$fg: var(--fg);
$fg-s: var(--fg-s);
$dark1: #130227;
$light1: #f4ecfe;
$light2: #d3b1fb;
$mini-btn-hover: #9e9e9e28;
$close-btn-hover: #d42c3a;
$ctrl-btns-blur: #868686;
$tb-height: 30px;
$logo-size: 20px;
