@use './globals' as *;


main > section {
	margin-bottom: 3rem;

	&:first-child {
		margin-top: 1rem;
	}

	h2 {
		margin-bottom: 1rem;
		cursor: pointer;
		display: inline-block;
	}
}

table {
	width: 98%;
	max-width: 98%;

	&, th, td {
		border: 1px solid $fg-s;
		border-collapse: collapse;
	}

	th, td {
		padding: 0.5rem;
		// word-break: break-word;
	}

	th {
		color: $fg-s;

		&:first-child, &:last-child {
			width: clamp(8rem, 20vw, 20rem);
		}
	}

	ul, ol {
		list-style-position: inside;
	}
}

.edit-modal {
	display: flex;
}
