@use './globals' as *;


main > section {
	margin-bottom: 3rem;

	&:first-child {
		margin-top: 1rem;
	}

	h2 {
		margin-bottom: 1rem;
		cursor: pointer;
		display: inline-block;
	}
}

table {
	width: 98%;

	&, th, td {
		border: 1px solid $fg-s;
		border-collapse: collapse;
	}

	th, td {
		padding: 0.5rem;
	}

	th {
		color: $fg-s;

		&:first-child, &:last-child {
			width: clamp(8rem, 20vw, 20rem);
		}
	}

	ul {
		list-style-position: inside;
	}
}

.modal-container {
	position: fixed;
	inset: 0 0 0 4rem;
	display: none;
	justify-content: center;
	align-items: center;

	& > div {
		background-color: $bg;
		position: relative;
		padding: 0.5rem;
		min-width: 25rem;
		min-height: 10rem;
		box-shadow: $fg 0px 0px 230px -50px;
		animation: pop 0.25s;
		transition: background-color 0.5s ease;

		a {
			display: block;
			text-decoration: none;
			margin: 1rem 0;
		}

		textarea, input[type=text] {
			color: $fg;
			border: 1px solid $fg-s;
			padding: 0.5rem;
			outline: none;
			width: 100%;
			background-color: transparent;
			margin: 1rem 0 3rem 0;
			resize: vertical;
		}

		label {
			cursor: pointer;
		}

		& > button, .check-container {
			position: absolute;
			left: 0.5rem;
			bottom: 1rem;
		}

		.check-container {
			padding: 0.5rem;
			bottom: calc(1rem + 1px);	// To bring label in line with the buttons (Due to 2px of border)
		}

		.btn-container {
			position: absolute;
			width: fit-content;
			right: 0.5rem;
			bottom: 1rem;
		}

		.btn1 {
			margin-right: 0.5rem;
		}

		input[type=checkbox] {
			position: relative;
			height: 0.9rem;
			margin-left: 0.5rem;
			width: 1.2rem;
			cursor: pointer;

			&::before, &:checked::before {
				content: "";
				display: block;
				position: absolute;
				background-color:$bg-s;
				width: 1.2rem;
				height: 1.2rem;
				top: 0;
				right: 0;
			}

			&:checked::after {
				content: "";
				display: block;
				position: absolute;
				transform: rotate(45deg);
				border: solid $fg;
				border-width: 0 2px 2px 0;
				width: 0.3rem;
				height: 0.6rem;
				top: 0.13rem;
				left: 0.4rem;
			}
		}
	}
}
