@use './globals' as *;


main > section {
	margin-bottom: 3rem;

	&:first-child {
		margin-top: 1rem;
	}

	h2 {
		margin-bottom: 1rem;
		cursor: pointer;
		display: inline-block;
	}
}

table {
	width: 98%;

	&, th, td {
		border: 1px solid $fg-s;
		border-collapse: collapse;
	}

	th, td {
		padding: 0.5rem;
	}

	th {
		color: $fg-s;

		&::first-letter {
			text-transform: uppercase;
		}

		&:first-child, &:last-child {
			width: clamp(8rem, 20vw, 20rem);
		}
	}

	ul {
		list-style-position: inside;
	}
}

.modal-container {
	position: fixed;
	inset: 0 0 0 4rem;
	backdrop-filter: blur(2px);
	display: none;
	justify-content: center;
	align-items: center;

	div {
		background-color: $bg;
		padding: 0.5rem;
		min-width: 15rem;
		text-align: center;
		box-shadow: $fg 0px 0px 230px -50px;
		animation: pop 0.25s;

		a {
			display: block;
			text-decoration: none;
			margin: 1rem 0;
		}
	}
}
