@use './globals' as *;


body {
	background-color: $bg;
	color: $fg;
	transition: background-color 0.5s ease, color 0.25s ease;
}

nav {
	width: 4rem;
	height: calc(100vh - 30px);
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.navitem {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	user-select: none;	// To prevent selection of text on double click
	cursor: pointer;

	&:last-child {
		margin-top: auto;
	}

	svg {
		height: 2rem;
		width: 2rem;
		color: $fg;
		transition: 0.25s ease;
	}

	&:hover svg {
		color: $bg-s;
	}
}

.current svg {
	color: $bg-s;
	animation: pop 0.25s;
}

.theme {
	display: none;
	animation: pop 0.25s;
}

.light #dark-btn {
	display: block;
}

.dark #light-btn {
	display: block;
}

@keyframes pop {
	0% {
		transform: scale(0%);
	}
	90% {
		transform: scale(110%);
	}
	100% {
		transform: scale(100%);
	}
}

a {
	color: $fg-s;
}

#titlebar {
	-webkit-app-region: drag;
	user-select: none;
	background-color: $bg-s;
	color: $fg;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.ctrl-btns {
		-webkit-app-region: no-drag;
		width: 50px;
	}
}

main {
	position: fixed;
	inset: 30px 0 0 4rem;
	padding-left: 1rem;
	overflow: auto scroll;
	scroll-behavior: smooth;
	scroll-padding-top: 1rem;

	button {
		background-color: transparent;
		color: $fg;
		border: 1px solid $fg;
		padding: 0.5rem;
		cursor: pointer;
		user-select: none;	// To prevent selection of text
		transition: 0.25s ease;

		&:hover {
			color: $bg-s;
			border-color: $bg-s;
		}
	}
}

::-webkit-scrollbar {
	width: 0.5rem;

	&-track, &-corner {
		background-color: $bg;
	}

	&-thumb {
		background-color: $bg-s;
	}
}

::selection {
	color: #130227;
	background: #d3b1fb;
}

::placeholder {
	color: $fg-s;
	opacity: 0.7;
}
