@use './globals' as *;


body {
	background-color: $bg;
	color: $fg;
	transition: background-color 0.5s ease, color 0.25s ease;
}

nav {
	width: 4rem;
	height: calc(100vh - #{$tb-height});	// Interpolation
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
}

.navitem {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	user-select: none;	// To prevent selection of text on double click
	cursor: pointer;

	&:nth-child(5) {
		margin-top: auto;
	}

	svg {
		height: 2rem;
		width: 2rem;
		color: $fg;
		transition: 0.25s ease;
	}

	&:hover svg {
		color: $bg-s;
	}
}

.current svg {
	color: $bg-s;
	animation: pop 0.25s;
}

.theme {
	display: none;
	animation: pop 0.25s;
}

.light #dark-btn {
	display: block;
}

.dark #light-btn {
	display: block;
}

@keyframes pop {
	0% {
		transform: scale(0%);
	}
	90% {
		transform: scale(110%);
	}
	100% {
		transform: scale(100%);
	}
}

a {
	color: $fg-s;
}

#logo {
	width: $logo-size;
	margin: 5px;
}

#titlebar {
	-webkit-app-region: drag;
	user-select: none;
	z-index: 1;
	color: $fg;
	height: $tb-height;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.blur {
		fill: $ctrl-btns-blur;
		color: $ctrl-btns-blur;
	}

	.ctrl-btns {
		-webkit-app-region: no-drag;
		font-size: 0;	// Whitespace(HTML) between buttons creates space (inline-block)

		button {
			background-color: transparent;
			outline: none;
			border: none;
			height: $tb-height;
			width: 46px;

			svg {
				width: 10px;
				height: 10px;
				fill: $fg;
			}
		}

		.minimize:hover {
			background-color: $mini-btn-hover;
		
			.blur, svg {
				fill: $fg;
			}
		}

		.close:hover {
			background-color: $close-btn-hover;
		
			.blur, svg {
				fill: $light1;
			}
		}
	}
}

main {
	position: fixed;
	inset: $tb-height 0 0 4rem;
	z-index: -1;
	padding-left: 1rem;
	overflow: auto scroll;
	scroll-behavior: smooth;
	scroll-padding-top: 1rem;

	button {
		background-color: transparent;
		color: $fg;
		border: 1px solid $fg;
		padding: 0.5rem;
		cursor: pointer;
		user-select: none;	// To prevent selection of text
		transition: 0.25s ease;

		&:hover {
			color: $bg-s;
			border-color: $bg-s;
		}
	}

	input[type=checkbox] {
		position: relative;
		height: 0.9rem;
		margin-left: 0.5rem;
		width: 1.2rem;
		cursor: pointer;
	
		&::before, &:checked::before {
			content: "";
			display: block;
			position: absolute;
			background-color:$bg-s;
			width: 1.2rem;
			height: 1.2rem;
			top: 0;
			right: 0;
		}
	
		&:checked::after {
			content: "";
			display: block;
			position: absolute;
			transform: rotate(45deg);
			border: solid $fg;
			border-width: 0 2px 2px 0;
			width: 0.3rem;
			height: 0.6rem;
			top: 0.13rem;
			left: 0.4rem;
		}
	}

	label {
		cursor: pointer;
	}

	.modal-container {
		position: fixed;
		inset: $tb-height 0 0 4rem;
		justify-content: center;
		align-items: center;

		& > div {
			background-color: $bg;
			position: relative;
			padding: 0.5rem;
			min-width: 25rem;
			min-height: 8rem;
			overflow-y: auto;
			box-shadow: $fg 0px 0px 230px -50px;
			animation: pop 0.25s;
			text-align: center;
			transition: background-color 0.5s ease;

			a {
				display: block;
				text-decoration: none;
				margin: 1rem 0;
			}

			textarea, input[type=text] {
				color: $fg;
				border: 1px solid $fg-s;
				padding: 0.5rem;
				outline: none;
				width: 100%;
				background-color: transparent;
				margin: 0.5rem 0 4rem 0;
			}

			textarea {
				resize: vertical;
				height: 12rem;
				width: 45rem;
			}

			& > .btn-container2, & > .check-container {
				position: absolute;
				left: 0.5rem;
				bottom: 1rem;
			}

			.btn3 {
				margin-right: 0.5rem;
			}

			.check-container {
				padding: 0.5rem;
				bottom: calc(1rem + 1px);	// To bring label in line with the buttons (Due to 2px of border)
			}

			.btn-container {
				position: absolute;
				right: 0.5rem;
				bottom: 1rem;
			}

			.btn1 {
				margin-right: 0.5rem;
			}
		}
	}
}

::-webkit-scrollbar {
	width: 0.5rem;

	&-track, &-corner {
		background-color: $bg;
	}

	&-thumb {
		background-color: $bg-s;
	}
}

::selection {
	color: $dark1;
	background-color: $light2;
}

::placeholder {
	color: $fg-s;
	opacity: 0.7;
}
