@use './globals' as *;


body {
	background-color: $bg;
	color: $fg;
	transition: background-color 0.25s ease, color 0.5s ease;
}

nav {
	width: 4rem;
	height: 100vh;
	position: fixed;
	display: flex;
	flex-direction: column;
}

.navitem {
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	user-select: none;	// To prevent selection of text on double click
	cursor: pointer;

	&:last-child {
		margin-top: auto;
	}

	svg {
		height: 2rem;
		width: 2rem;
		color: $fg;
		transition: 0.25s ease;
	}

	&:hover svg {
		color: $bg-s;
	}
}

.current svg {
	color: $bg-s;
	animation: pop 0.25s;
}

.theme {
	display: none;
	animation: pop 0.25s;
}

.light #dark-btn {
	display: block;
}

.dark #light-btn {
	display: block;
}

@keyframes pop {
	0% {
		transform: scale(0%);
	}
	90% {
		transform: scale(110%);
	}
	100% {
		transform: scale(100%);
	}
}

main {
	position: absolute;
	inset: 0 0 0 4rem;
	padding-left: 1rem;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 0.5rem;

		&-track, &-corner {
			background-color: $bg;
		}

		&-thumb {
			background-color: $bg-s;
		}
	}
}
