@use './globals' as *;


.v-bar {
	width: 2px;
	background-color: $fg-s;
	display: inline-block;
	position: absolute;
	right: 50%;
}

.hidden {
	background: transparent;
	height: 3rem;
}

.box {
	position: absolute;
	border: 1px solid $fg-s;
	width: clamp(280px, 39%, 500px);
	padding: 0.5rem;
	max-height: 200px;
	overflow-y: auto;

	ul {
		list-style-position: inside;
		word-break: break-word;
	}

	p:first-child {
		font-weight: bold;
	}
}

[id$="-year-sep"] {
	position: absolute;
}

#year-disp {
	position: fixed;
	right: 1rem;
	top: calc(30px + 1rem);
	border: 1px solid $fg-s;
	padding: 0.5rem;
	cursor: pointer;
}

@media only screen and (max-width: 929px) {
	#year-disp {
		display: none;
	}
}

.timeline-text-space {
	margin: 0.5rem 0 4rem 0;
	text-align: left;
	width: 25rem;

	ul {
		list-style-position: inside;
		word-break: break-word;
	}
}

.left {
	right: calc(50% + 20px);
}

.right {
	left: calc(50% + 18px);
}

.circle {
	fill: $fg;
	height: 24px;
	width: 24px;
	position: absolute;
	right: calc(50% - 11px);
}

.start {
	transform: rotate(90deg);
}

.finish {
	transform: rotate(-90deg);
}
