@use './index';
@use './home';
@use './add';
@use './timeline';
@use './export';


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
	font-size: 16px;
	/* Theme variables */
	--bg: #130227;
	--bg-s: #4a089b;
	--fg: #f4ecfe;
	--fg-s: #d3b1fb;
}

input, textarea, button, select, label {
	font-size: 1rem;
	font-family: inherit;
}
