body {
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.25s ease, color 0.5s ease;
}

nav {
  width: 4rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.navitem {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  user-select: none;
  cursor: pointer;
}
.navitem:last-child {
  margin-top: auto;
}
.navitem svg {
  height: 2rem;
  width: 2rem;
  color: var(--fg);
  transition: 0.25s ease;
}
.navitem:hover svg {
  color: var(--bg-s);
}

.current svg {
  color: var(--bg-s);
  animation: pop 0.25s;
}

.theme {
  display: none;
  animation: pop 0.25s;
}

.light #dark-btn {
  display: block;
}

.dark #light-btn {
  display: block;
}

@keyframes pop {
  0% {
    transform: scale(0%);
  }
  90% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
a {
  color: var(--fg-s);
}

main {
  position: absolute;
  inset: 0 0 0 4rem;
  padding-left: 1rem;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}
main::-webkit-scrollbar {
  width: 0.5rem;
}
main::-webkit-scrollbar-track, main::-webkit-scrollbar-corner {
  background-color: var(--bg);
}
main::-webkit-scrollbar-thumb {
  background-color: var(--bg-s);
}
main button {
  background-color: var(--bg);
  color: var(--fg);
  border: 1px solid var(--fg);
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.25s ease;
}
main button:hover {
  color: var(--bg-s);
  border-color: var(--bg-s);
}

main > section {
  margin-bottom: 3rem;
}
main > section:first-child {
  margin-top: 1rem;
}
main > section h2 {
  margin-bottom: 1rem;
  cursor: pointer;
  display: inline-block;
}

table {
  width: 98%;
}
table, table th, table td {
  border: 1px solid var(--fg-s);
  border-collapse: collapse;
}
table th, table td {
  padding: 0.5rem;
}
table th {
  color: var(--fg-s);
}
table th:first-child, table th:last-child {
  width: clamp(8rem, 20vw, 20rem);
}
table ul {
  list-style-position: inside;
}

.modal-container {
  position: fixed;
  inset: 0 0 0 4rem;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container > div {
  background-color: var(--bg);
  position: relative;
  padding: 0.5rem;
  min-width: 25rem;
  min-height: 10rem;
  box-shadow: var(--fg) 0px 0px 230px -50px;
  animation: pop 0.25s;
}
.modal-container > div a {
  display: block;
  text-decoration: none;
  margin: 1rem 0;
}
.modal-container > div textarea, .modal-container > div input[type=text] {
  color: var(--fg);
  border: 1px solid var(--fg-s);
  padding: 0.5rem;
  outline: none;
  width: 100%;
  background-color: var(--bg);
  margin: 1rem 0 3rem 0;
  resize: vertical;
}
.modal-container > div label {
  cursor: pointer;
}
.modal-container > div > button, .modal-container > div .check-container {
  position: absolute;
  left: 0.5rem;
  bottom: 1rem;
}
.modal-container > div .check-container {
  padding: 0.5rem;
  bottom: calc(1rem + 1px);
}
.modal-container > div .btn-container {
  position: absolute;
  width: fit-content;
  right: 0.5rem;
  bottom: 1rem;
}
.modal-container > div .btn1 {
  margin-right: 0.5rem;
}
.modal-container > div input[type=checkbox] {
  position: relative;
  height: 0.9rem;
  margin-left: 0.5rem;
  width: 1.2rem;
  cursor: pointer;
}
.modal-container > div input[type=checkbox]::before, .modal-container > div input[type=checkbox]:checked::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--bg-s);
  width: 1.2rem;
  height: 1.2rem;
  top: 0;
  right: 0;
}
.modal-container > div input[type=checkbox]:checked::after {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
  border: solid var(--fg);
  border-width: 0 2px 2px 0;
  width: 0.3rem;
  height: 0.6rem;
  top: 0.13rem;
  left: 0.4rem;
}

select {
  background-color: var(--bg);
  color: var(--fg);
  outline: none;
  padding: 0.5rem;
  border: 1px solid var(--fg-s);
}

main > section > textarea {
  color: var(--fg);
  border: 1px solid var(--fg-s);
  padding: 0.5rem;
  outline: none;
  background-color: var(--bg);
  resize: vertical;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* Theme variables */
  --bg: #130227;
  --bg-s: #4a089b;
  --fg: #f4ecfe;
  --fg-s: #d3b1fb;
}

input, textarea, button, select, label {
  font-size: 1rem;
  font-family: inherit;
}

/*# sourceMappingURL=main.css.map */
